@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Russo+One&display=swap');

/* @font-face {
    font-family: 'Dela Gothic One';
    src: url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Dela+Gothic+One&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Russo+One&display=swap');
} */


@font-face {
  font-display: block;
  font-family: Mori;
  font-style: normal;
  font-weight: 900;
  src: url(https://assets.codepen.io/16327/PPMori-SemiBold.woff) format("woff");
}